{{ define "header" }}
<header>
    <div class="container">
        <div class="site-header">
            <div class="logo">
                <div class="logo-icon">
                    <div class="icon-cross">
                        <div class="circuit-lines">
                            <div class="circuit-line"></div>
                            <div class="circuit-line"></div>
                            <div class="circuit-line"></div>
                            <div class="circuit-line"></div>
                        </div>
                    </div>
                </div>
                <h1>Temp0ral.World</h1>
                <h2>Offensive Security Journal</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Back</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{{ end }}