{{ define "sidebar" }}
<div class="sidebar">
    <div class="sidebar-section toc">
        <h3>TABLE OF CONTENTS</h3>
        <ul id="toc-list">
            <!-- JavaScript will populate this -->
        </ul>
    </div>

    <div class="sidebar-section related-posts">
        <h3>RELATED ARTICLES</h3>
        <ul>
            <li>
                <a href="#">Kernel Exploitation: From Zero to Ring 0</a>
                <div class="post-date">MAR 22, 2025</div>
            </li>
            <li>
                <a href="#">Breaking the Sandbox: Browser Exploitation Techniques</a>
                <div class="post-date">FEB 15, 2025</div>
            </li>
        </ul>
    </div>
</div>
{{ end }}