<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} | VOID::SENTINEL</title>
    <link rel="stylesheet" href="css/styles.css">

    <!--
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/components.css">
-->
</head>

<body>
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
    {{ template "header" . }}

    <main>
        <div class="container">
            {{ template "article" . }}
        </div>
    </main>

    {{ template "footer" . }}

    <script src="js/main.js" type="module"></script>
</body>

</html>